root {
    display: block;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    color: blue;
}

h2 {
    font-size: 18px;
    color: darkslateblue;
    font-family:inherit;
}

.hata_mesaj {
    font-size: 12px;
    font-family: cursive;
    font-weight: bold;
    color: orangered;
    padding: 12px;
}
 
.mavi_cerceve_ciz {
	font-family:serif, Helvetica, sans-serif;
	font-size:20px;
	border:2px solid deepskyblue;
}

.tablo {   
	border-collapse:collapse;
}

.metinkutusu{
	text-align:center;
	background:none repeat scroll 0 0 azure;
	border-top:red;
}

.renklendir{
	text-align:center;
	background:none repeat scroll 0 0 springgreen;
	border-top:red;
}

