.personel-tablo{   
    border-collapse:collapse;
} 

.personel-tablo-baslik{
    text-align:center;
    background:none repeat scroll 0 0 #E8ECF7;
    border-bottom:1px solid buttonface;
    padding:16px;
}

.personel-tablo-tek-satir{
    text-align:center;
    background:none repeat scroll 0 0 #CCFFCC;
    border-top:1px solid buttonface;
}

.personel-tablo-cift-satir{
    text-align:center;
    background:none repeat scroll 0 0 #FFFFCC;
    border-top:1px solid buttonface;
} 